@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fundo escuro para o site todo */
body {
    background-color: #0f172a;
    /* Azul noturno */
    color: #f1f5f9;
    /* Branco gelo */
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}